#define color_type {{colorType}}
#define color2prob(c) {{{colorToProb}}}

bool get_emission(int which_obj, out color_type emission) {
  {{#materialEmissions}}
  {{^first}}else {{/first}}if (false
    {{#objects}}
    || which_obj == {{id}}
    {{/objects}}) {
    emission = {{value}};
    return true;
  }
  {{/materialEmissions}}
  return false;
}

{{#properties}}
{{type}} get_{{name}}(int which_obj) {
  {{#materials}}
  {{^first}}else {{/first}}if (false
    {{#objects}}
    || which_obj == {{id}}
    {{/objects}}) {
    return {{value}};
  }
  {{/materials}}
  return {{default}};
}
{{/properties}}

#define get_material_id(x) x
